@CHARSET "UTF-8";


/*快速链接*/
.quicklink{width:222px; height:476px; background: url(../img/web/q_bg.jpg) no-repeat top center;margin-right: 7px;  display: inline;}
.game{position: relative; top:-6px; width:214px;height:109px;background:url(../img/web/start.jpg) no-repeat;}
.game a{ width:214px;height:109px;display: block;}
.game a:hover{ background:url(../img/web/start_hover.jpg) no-repeat; }
.link a,.link a:hover{background: url(../img/web/bg.png) no-repeat;}
.link-class,.link-reg,.link-download,.link-act{width:200px; height:53px; margin-top:5px;}
.link-class a{width:200px; height:53px; background-position:0 0;  display: block; }
.link-class a:hover{width:200px; height:53px; display: block;background-position:-200px 0;}
.link-reg a{width:200px; height:53px; background-position:0px -59px;display: block; }
.link-reg a:hover{width:200px; height:53px; background-position:-200px -59px;display: block; }
.link-download a{width:200px; height:53px; background-position:0px -118px;display: block; }
.link-download a:hover{width:200px; height:53px; background-position:-200px -118px;display: block; }
.link-act a{width:200px; height:53px; background-position:0px -177px;display: block; }
.link-act a:hover{width:200px; height:53px; background-position:-200px -177px;display: block; }
/*快速通道*/
.quicklink2{width: 176px; height: 62px; margin-top: 50px; padding:8px 0 5px 10px; }
.quicklink2 ul li { float:left;width:80px; text-align: left; margin-left: 7px; display: inline;}
.quicklink2 ul li a{ background: url(../img/web/ico.png) no-repeat left center;padding-left:10px; color: #ce8a54}
.quicklink2 ul li a:hover{color:#fff !important;}
/*广告位轮播*/
.lightbox{width:430px; height:260px; background: #41261e;}
.lightbox img{display:block;}/*ie6 兼容4px*/
div.slideBox{ position:relative; width:430px; height:260px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute;+position:fix; bottom:0px; width:100%; height:50px;  overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%; display: none;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:10px; top:0px; height:100%;+top:210px;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:13px; height:13px; background-color:#FFF; text-indent:-99999px; margin:25px 7px 0px 0px;}
div.slideBox div.tips div.nums a.active2{ background-color:#ff8a00;}

/*新闻*/
.news{width:391px; height:260px;background: #41261e}
.news-title{width:391px; height:37px; background: url(../img/web/t_bg.jpg) repeat-x;}
.news-title ul li{float: left; width:97px;height:37px; line-height: 37px; margin-right: 1px;}
.news-title ul li a{width:97px;height:37px; color: #c6afa8;font-size: 18px; display: block;}
.news-title ul li a:hover{ background: url(../img/web/news-hover.jpg) repeat-x top center; width:97px;height:37px; display: block;text-decoration: none; color: #c6afa8}
#last{margin-right: 0px;}
.active{ background: url(../img/web/news-hover.jpg) repeat-x top center; width:97px;height:37px;}
.news .news-main{line-height:21px !important;line-height: 22px;_line-height: 18px;*line-height: 18px;}
.up{ width:345px;line-height:40px;_line-height:37px;*line-height:37px; border-bottom:1px dotted #755f59; }
.up a:hover{text-decoration: underline;color: #00fcff;}
.up_hot{font-size: 16px; color: #00fcff;}
.news-main ul { margin-top: 5px;_margin-top:2px;}
.news-main ul li{width:345px; height:22px;_height:18px;*height:18px; display:block; text-align: left;color: #f4ce5a;}
.news-main ul li a{color: #f4ce5a;width:300px;overflow: hidden;display: block;height: 22px;line-height: 22px;float:left;}
.news-main ul li a:hover {color: #ffffff !important;}
.roughStyle{font-weight: bold;}
.redStyle{color: red !important;}
#newsmore a{width:345px;height:22px; display:block;}
/*最新活动*/
.act{width:821px; height:209px; background:#41261e; margin-top: 6px; display: inline; }
.act-title{width:821px; height:40px; background: url(../img/web/act-bg.jpg) repeat-x;}
.act-logo{position: relative; top:-3px; left:0px}
.act-list{ margin:12px  7px;_margin:10px  5px 0 5px; display: inline;}
.act-list ul {margin: 0 6px;_margin: 0 5px; display: inline-block;width:188px;}
.act-list ul li a {color: #ce8a54; line-height: 22px;}
.act-list ul li a:hover{color: #b52200}
/*玩家互动*/
.box1{width:222px;height:auto; margin: 13px 8px 0 0; display: inline;}
/*玩家qq群*/
.qq{width:220px;height:120px; border:1px solid #b9976e;}
.qq-title{width:220px;height:37px;background: url(../img/web/box1.jpg) no-repeat center center;}
.qq-main{width:218px;height:72px; border:1px solid #f1dfc9; padding:5px 0; background: #ecd4b7; border-top:0}
.qq-main ul li{ float:left; line-height: 23px; background: url(../img/web/li-style.jpg) no-repeat 12px center;text-indent: 24px;}
.box1-title{width:220px;height:37px;line-height:37px; background: url(../img/web/box1.jpg) no-repeat center -1px;font-size:18px;font-weight: bold; color: #6a4b29;}
.box1-title img{ margin-top: 5px;}
/*客服*/
.service{height:256px;width:220px; margin-top: 4px; display:inline;border:1px solid #b9976e;}
.service-main{width:218px;height:217px; border:1px solid #f1dfc9; background: #ecd4b7;}
.online{width:208px;height:108px; padding:5px;}
.service-main .tel{line-height: 26px; font-size:14px; font-weight: bold; background: url(../img/web/400.jpg) no-repeat 13px center;}
.other_tel{line-height: 16px;}
.kefu_button{margin-top: 5px;}
.contact{height:35px;width:218px; background:url(../img/web/box12.jpg) no-repeat center center; }
.contact-main{width:208px; height:60px; padding: 5px; line-height: 25px; font-size: 14px;}
.contact-main ul li{ background: url(../img/web/qq-logo.jpg) no-repeat -1px center;text-align: left;text-indent: 20px;}
/*4个玩家互动*/
.interactive{width:220px; height:190px;border-top:1px solid #e2c39a;border-left:1px solid #e2c39a; margin-top: 5px;}
.interactive ul li {float:left;width:109px; height:94px;border-right:1px solid #e2c39a;border-bottom:1px solid #e2c39a;}
.interactive ul li a {width:109px; height:94px;display: block; background: #fce8c9}
.interactive ul li a:hover{width:109px; height:94px;display: block; background: #ffe2b4}
.interactive ul li a img{ margin-top:12px; display: inline; }
.sha{width:38px; height:37px; position: relative; left:0 ;top:-113px;_position:static;_margin-top:-113px; }



.votes{width:220px; height:60px; margin-top: 5px; display:inline  }
/*活动版块*/
.box2{width:567px;height:auto; margin: 13px 0; display: inline; }
.box2 .box2-title{width:565px;height:36px; background: url(../img/web/box2-title.jpg) repeat 1px -1px;}
.box2 .box2-line{width:567px;height:6px; background:url(../img/web/box2-line.jpg) no-repeat  0 0; }
/*游戏资料*/
.box2 .gameinfo{ width:565px;height:214px; background: #ecd4b7; border:1px solid #b9976e;border-bottom:none;}
.gameinfo-logo{position: relative; top:-6px; left:5px;_position:static;_margin-top:-9px;}
.gameinfo-main{width:563px; height:178px; border-left:1px solid #f1dfc9;border-right:1px solid #f1dfc9; padding-top:4px;}
.tab-nav{width:74px; height:129px; display: block; margin-left:5px;_margin-left:3px }
.tab-nav li a{width:90px; height:35px; line-height: 35px; display: block;font-size: 14px; font-weight: bold; color: #563615; background: url(../img/web/info-ico.jpg) no-repeat 8px center;}
.tab-nav li a:hover{width:90px; height:35px; display: block; color: #d65600;background: #ffebd2 url(../img/web/info-icohover.jpg) no-repeat 8px center;}
.tab-nav-active{width:74px; height:35px; display: block; background: #ffebd2; color: #d65600}
.card{width:469px; height:165px; background: #ffebd2;padding-left: 7px; display: inline;}
.card ul {float:left;width:57px;height:71px;margin:7px 6px 4px 4px ; line-height: 22px;_margin:5px 3px 2px 2px ;overflow: hidden;display: inline;}
.card-img {float:left; width:53px;height:45px; padding:3px 2px 2px 2px; background: url(../img/web/card-bg.png) no-repeat;  }
.card-more{width:46px; height:24px; margin: 12px 0 0 5px;  }
.card-more a { color:#b52200}
.card-more a:hover{ text-decoration: underline;}
.box2-more{ line-height: 25px; margin:8px 10px 0 0 ; }
.box2-more a{color: #362a18}	
/*游戏攻略*/
.box2 .gamemanual{width:565px;height:187px;background: #ecd4b7;border:1px solid #b9976e;border-bottom:0;margin-top: 12px;_margin-top: 2px; }
.gamemanual-logo{ position: relative; top:-10px; left:15px;}
.manual-main{width:561px; height:149px; border-left:1px solid #f1dfc9; border-left:1px solid #f1dfc9;}
/*.manual-main ul { margin-top: 10px;}*/
.manual-main ul li {float:left;width:250px;line-height: 23px; text-align: left; border-right:1px dashed #cfb99d; margin:0 5px 0 20px;}
.manual-main ul li a{float:left;width:240px;height: 23px; display: block;overflow: hidden;word-break:keep-all;white-space:nowrap;}
/*热点*/
.box2 .hotinfo{width:565px;height:201px;background: #ecd4b7;border:1px solid #b9976e;border-bottom:0;margin-top: 12px;display: inline;_margin-top: 2px; }
.hotinfo-logo{ position: relative; top:-11px; left:10px;}
.hotinfo-main{width:553px; height:158px;border-left:1px solid #f1dfc9;border-right:1px solid #f1dfc9;padding:0 10px 0 0;display: inline; }
.tab{width:541px; height: 23px; border-bottom: 1px solid #a8875e; margin: 10px 0 0 10px;}
.tab li { float: left; width:75px;background: #a8875e; height:23px;  }
.tab li a { color: #ffebd2;line-height: 23px;}
.tab-content{ margin-top: 8px;}
.tab-content ul li { float:left;width:250px;line-height: 25px; text-align: left; border-right:1px dashed #cfb99d; margin:0 5px 0 20px;}
.tab-content ul li a{ float:left;width:240px;height: 25px; display: block;overflow: hidden;word-break:keep-all;white-space:nowrap;}
.tab-active {width:75px;background: #785e40; height:23px; display: block;}

/*视频版块*/

.box3{width:246px;height:auto; margin-top: 13px; display: inline;}
.box3 .box3-title{height:36px; background: url(../img/web/box3-title.jpg) no-repeat left -1px;}
.box3 .box3-line{width:246px;height:6px; background:url(../img/web/box3-line.jpg) no-repeat  0 0; }
.box3-logo{position: relative; top:-11px; left:10px;_position:static;_margin-top:-11px;}
.video-logo{top:-7px;}
.box3 .video{width:244px;height:354px;background: #ecd4b7; border-left:1px solid #b9976e;border-right:1px solid #b9976e; }
.video-main{width:242px; height:295px; border-left:1px solid #f1dfc9;border-right:1px solid #f1dfc9; line-height: 20px;}
.video-main ul { margin-top: 10px;/* display: inline;*/}
.video-main span{width:242px; height:30px; display:block;}

/*玩家展示*/
.box3 .show{width:244px;height:268px;background: #ecd4b7; border-left:1px solid #b9976e;border-right:1px solid #b9976e;margin-top: 12px;_margin-top: 0px;}
.show-main{width:238px; height:230px; border-left:1px solid #f1dfc9;border-right:1px solid #f1dfc9; padding:0px 0 0 4px;}
.show-main ul{float:left;width:110px;height:100px;margin:4px; _margin:3px;}
.show-main ul li a { line-height: 22px; }

/*友链*/
.friendly{height:auto;background-color: #ecd4b7;border:1px solid #b9976e;float: left;margin-bottom:30px;}
.f_title{background: url("../img/web/f_title.jpg") no-repeat; width:1049px;height:36px;text-align: center;}
.friendly ul{width:1050px;}
.friendly ul li{width:175px;line-height: 30px;float: left;}